body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 42, 42);
    font-family: sans-serif;
    font-weight: bold;
    color:cadetblue;
}

.main{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(110deg,rgb(89, 89, 89),rgb(44, 17, 44));
    box-sizing: border-box;
    width: 30rem;
    height: 50rem;
    padding: 30px;
    margin: 10rem;
    border-radius: 45px;
    align-items: center;
    justify-content: center;
 
   
}

.displayContainer{
    margin-top: 20px;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    border-radius: 40px; 
    width: 25rem;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    height: 11rem;
    background-color: rgba(186, 186, 186, 0.149);
    flex-direction: column;
    gap: 1px;
}

#operatorScreen{
    font-size: 30px;
    text-align: left;
    margin-right: 20px;
    color:rgb(38, 160, 173)

}

.previousOperation{
    min-height: 32px;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    font-size: 20px; 
}

.currentOperation{
min-height: 0%;
display: flex;
font-size: 2rem;
margin: 20px;
margin-top: 5px;
flex-direction: row;
min-width: 0;


}
.mainButtons{
    margin-top: 20px;
    width:90%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.extras{
    width: 100%;
    height: 20%;
    display: flex;
    gap:5%;
    align-items: center;
    justify-content: center;
}

.clear, .delete{
    width: 10rem;
    height: 4rem;
    margin-top: 4px;
    border-radius: 20px;
    font-size: xx-large;
    font-weight: bold;
    background-color: rgba(31, 31, 31, 0);
 color: rgba(245, 169, 245, 0.445);
 border-style:none;

}
.buttons, .btn, .operator, .decimal, .evaluate {
    width: 5rem;
    height: 5rem;
    border-radius: 40px ;
    font-size: xx-large;
    font-weight: bold;
    background-color: rgba(31, 31, 31, 0);
 color: rgba(245, 169, 245, 0.445);
 border-style:none;
    
}

.buttons:hover, .btn:hover{
transition:ease-in-out 0.2s;
font-weight: bolder;
color: aliceblue;
    background-color:  rgba(228, 129, 225, 0.116);
    background-image: -webkit-radial-gradient(rgba(179, 179, 179, 0.035),rgba(0, 0, 0, 0.595));
}

.clear:hover, .delete:hover{
    transition:ease-in-out 0.1s;
    background-color: rgba(199, 51, 51, 0.434);
 color: rgb(255, 255, 255);
 background-image: -webkit-radial-gradient(rgba(179, 179, 179, 0.035),rgba(0, 0, 0, 0.595));
}


.operator:hover, .decimal:hover, .evaluate:hover{
    transition:ease-in-out 0.2s;
    font-weight: bolder;
    color: rgb(16, 201, 230);
        background-color:  rgba(23, 36, 224, 0.572);
        background-image: -webkit-radial-gradient(rgba(179, 179, 179, 0.035),rgba(0, 0, 0, 0.595));
}

.evaluate:hover{
    transition:ease-in-out 0.2s;
    font-weight: bolder;
    color: rgb(192, 254, 189);
        background-color:  rgba(12, 176, 45, 0.116);
        background-image: -webkit-radial-gradient(rgba(179, 179, 179, 0.035),rgba(0, 0, 0, 0.595));
}

.btn:active, .evaluate:active, .decimal:active, .operator:active, .clear:active, .delete:active{
    transition:ease-in-out 5ms;
    background-color: rgba(rgb(47, 17, 45), green, blue, alpha);
    color:blueviolet;

}